<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
     <h1><%= "個展を開く" %></h1>
     <%= render 'shared/flash_message' %>
     <%= render 'form', { exhibition: @exhibition, work: @work } %>
    </div>
  </div>
</div>