<div id="work-<%= work.id %>" class="card mb-3">
  <%= image_tag work.work_image.url, class:"card-img-top", size: '800x500' %>
  <div class="card-body">
    <h5 class="card-title"><%= simple_format(work.body) %></h5>
    <p class="card-text"><small class="text-muted">by  <%= work.user.name %></small></p>
  </div>
</div>
