<!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <%= link_to root_path, class:"logo d-flex align-items-center  me-auto me-lg-0" do %>
        <i class="bi bi-camera"></i>
        <h1>PhotoUp!</h1>
      <% end %>

      <nav id="navbar" class="navbar">
        <ul>
          <li><%= link_to "新規ユーザー登録", new_user_path %></li>
          <li><%= link_to "ログイン", login_path %></li>
        </ul>
      </nav><!-- .navbar -->

  </header><!-- End Header -->